.container {
    padding: 1rem;
}

.title {
    text-align: center;
}

.pagination {
    margin: 1rem;
    text-align: center;
}

.numberPage {
    padding: 8px 16px;
    margin-left: 0.5rem;

    color: #a7b3cb;
    border-radius: 50%;
    background-color: #4f5a6e;
}

.active {
    color: #ffffff;
    border: 3px solid #dbdbe3;
}

.numberPage:hover {
    cursor: pointer;
}