.container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: "header header"
                         "navigation profile";

    width: 90%;
    margin: 0 auto;


}